<div class="p-6 max-w-7xl mx-auto">
  <h2 class="text-2xl font-bold mb-6">My Wishlist</h2>

  <div *ngIf="!wishlist.ids.length" class="text-center text-gray-500 mt-10">
    Your wishlist is empty 💔
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    *ngIf="wishlistMovies().length"
  >
    <a
      *ngFor="let movie of wishlistMovies()"
      [routerLink]="['/moviesDetails', movie.id]"
      class="flex flex-col shadow rounded overflow-hidden bg-white hover:shadow-lg transition"
    >
      <img
        [src]="tmdb.getImageUrl(movie.poster_path)"
        [alt]="movie.title"
        class="w-full h-auto"
      />

      <div class="relative">
        <div
          class="absolute left-1/2 -translate-x-1/2 translate-y-1/2 bottom-0 text-white text-sm font-bold px-3 py-1 rounded-full shadow-md"
          [ngClass]="{
            'bg-green-600': movie.vote_average >= 7,
            'bg-yellow-500': movie.vote_average >= 5 && movie.vote_average < 7,
            'bg-red-600': movie.vote_average < 5
          }"
        >
          {{ (movie.vote_average * 10) | number: '1.0-0' }}%
        </div>
      </div>

      <div class="p-3 flex flex-col h-full justify-between">
        <div>
          <div class="font-semibold text-lg mb-1">{{ movie.title }}</div>
          <p-tag
            *ngFor="let genre of movie.genres"
            [value]="genre.name"
            class="mr-1 mb-1"
            severity="info"
          />
        </div>

        <div class="flex justify-end mt-3">
          <button
            type="button"
            (click)="wishlist.toggle(movie.id); $event.preventDefault(); $event.stopPropagation()"
            class="text-red-600 text-lg"
          >
            <i class="pi pi-heart-fill"></i>
          </button>
        </div>
      </div>
    </a>
  </div>
</div>
