<div class="p-6 max-w-7xl mx-auto">
    <h2 class="text-2xl font-bold mb-6">Search Results for "{{ query() }}"</h2>

    <div *ngIf="!results().length" class="text-center text-gray-500 mt-10">
        No movies found.
    </div>

    <div *ngIf="results().length" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <a *ngFor="let movie of results()" [routerLink]="['/moviesDetails', movie.id]"
            class="block rounded shadow hover:shadow-lg transition bg-white">
            <div class="relative">
                <img [src]="getImageUrl(movie.poster_path)" [alt]="movie.title" class="w-full h-auto rounded-t" />
                <div class="absolute left-1/2 -translate-x-1/2 translate-y-1/2 bottom-0 text-white text-sm font-bold px-3 py-1 rounded-full shadow-md"
                    [ngClass]="{
            'bg-green-600': movie.vote_average >= 7,
            'bg-yellow-500': movie.vote_average >= 5 && movie.vote_average < 7,
            'bg-red-600': movie.vote_average < 5
          }">
                    {{ (movie.vote_average * 10) | number: '1.0-0' }}%
                </div>
            </div>

            <div class="p-3">
                <div class="font-semibold text-lg mb-1">{{ movie.title }}</div>
                <p-tag *ngFor="let genreId of movie.genre_ids" [value]="getGenreName(genreId)" severity="info"
                    class="mr-1 mt-2" />
            </div>
        </a>
    </div>
</div>